#outer{
    height: 73px;
    width: 200px;
    border: 2px solid black;
    padding-top: 8px;
}

#outer div{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 5px; 
    display: inline-block;
    border-radius: 50%;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}